* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

}
header {
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 6vh;
}
heder h1 {
    margin-left: 6vh;
}
.kartinka {
    width: 100%;
    height: 90vh;
    background: url('../Снимок\ экрана\ 2022-08-16\ в\ 17.30.07.png');
    color: white;
    font-size: 2rem;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px rgb(65, 65, 63);
}
body {
    min-height: 300vh;
}
.kartinka button {
    margin-bottom: 15vh;
    margin-top: 2.5vh;
    width: 15vw;
    height: 5vh;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: ls;
}
.kartinka button :hover {
background-color: white;
color: black;
border: 1px solid black;
transition: ls;
}
.section-title {
    text-align: center;
    margin-top: 5vh;
    font-size: 3rem;
}
.gotop {
    display: flex;
    justify-items: center;
    font-size: 1rem;
    margin-top: 3vh;
}
.map {
    width: 100%;
    height: 60vh;
    display: block;
    margin: 2vh auto;
}
.location-text {
    width: 80%;
    text-align: center;
    margin: 0vh auto;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
}
.inner {
    max-width: 100%;
    margin:0 auto;
}
.card {
    flex:  1 380px;
    width: 33%;
    border-radius: 6px;
    color: white;
}
.card img {
    width: 100%;
    display: block;
    margin: 0 auto;
}